<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a href="{% url 'djangoapp:index' %}">
                    <button> Back to Dealership Review </button>
                  </a>
            </div>
<html>
<h1>
    <p style="text-align:center">About</p>   
<h1>
    <p style="text-align:center">Welcome to my first Django application. This app is built with Python in the backend and uses an IBM Cloud database to store all dealership and review information. The app also uses IBM Watson to try and determine the sentiment of the reviews posted. The API used for that is very easy to work with, but it does seem like a bit of overkill. My CSS and HTML styling could certainly use some work, but I've learned a great deal of Python and I'm excited to expand my knowledge as I progress.  </p>   
</h1>
</html>

